# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
src/test

# gradle
build
.gradle

# other
eclipse
run
installer.log
src/main/java/fr/timeto/astrauworld/launcher/secret
